STACK_NAME=sistema-hml
APP_IMAGE=sistema-hml:latest
APP_HOST=sistema.seudominio.com
TRAEFIK_NETWORK=traefik-public
TRAEFIK_CERTRESOLVER=letsencrypt
APP_TIMEZONE=America/Fortaleza
CI_ENVIRONMENT=production
APP_FORCE_HTTPS=true
APP_CSP_ENABLED=false
LOGGER_THRESHOLD=4
APP_ENCRYPTION_KEY=hex2bin:troque_por_32_hexadecimais
MYSQL_DATABASE=sistema_hml
MYSQL_USER=sistema_hml
MYSQL_PASSWORD=troque_esta_senha
MYSQL_ROOT_PASSWORD=troque_esta_senha_root
LEGACY_DATABASE_HOST=db
LEGACY_DATABASE_PORT=3306
LEGACY_DATABASE_NAME=sistema_hml
LEGACY_DATABASE_USER=sistema_hml
LEGACY_DATABASE_PASSWORD=troque_esta_senha
RUN_MIGRATIONS=true
WAIT_FOR_DB=true
CLEAR_CACHE_ON_BOOT=true

